<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="revenue-component">
  <template>
    <style>
      :host {
        display: block;
      }

      .container {
        position: relative;
        height: auto;
        margin: 10px;
        background-color: #fff;
        color: gray;
        padding: 20px;
        display: inline-block;
        width: 95%;
      }

      .row {
        display: inline-block;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }

      .title{
        text-align: center;
      }

      .txt-box-small{
        width: 70%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      .col-1{
        display: inline-block;
        float: left;
        width: 50%;
        text-align: left;
      }

      .div-label{
        display:inline-block;
        width:100%; 
      }

      .div-text{
        display:inline-block; 
        width: 100%; 
        align: bottom;
      }

      .btn{
        display: inline-block;
        border: 2px solid #08948e;
        border-radius: 10px; 
        color: #08948e;
        font-size: 14px;
        padding: 0.5rem 2rem;
        cursor: pointer;
        text-decoration: none;
        width: 30%;
        text-align: center;
      }

      .btn:hover{
        background: #3a98a28c;
        color: #fff;
        cursor: pointer;
      }

      .btn-2{
        display: inline-block;
        border: 2px solid #08948e;
        border-radius: 5px;
        color: #08948e;
        font-size: 14px;
        padding: 0.4em 0.1em;
        cursor: pointer;
        text-decoration: none;
        width: 100%;
        text-align: center;
      }

      .btn-2:hover{
        background: #3a98a28c;
        color: #fff;
        cursor: pointer;
      }

      table{
        width: 100%; 
        margin-top: 10px; 
        border-collapse: collapse; 
        border: 1px solid #444;
      } 

      th {
        background-color: #08948e;
        color: #f1f1f1;
        padding: 15px;
      }

      td, th{
        border: 1px solid rgba(228, 228, 228, 0.904);
      }

      td{
        padding: 10px;
      }

    </style>
    <!--Start My Component-->
    <div class="container">

      <h2 class="title">CONSULTA OPERACIONES</h2>
      <hr>

      <div class="row">
        <div class="col-1">
          <div class="div-label">
            <label for="">Año Servicio</label>
          </div>

          <div class="div-text">
            <input type="text" class="txt-box-small">
          </div>
        </div>

        <div class="col-1">
          <div class="div-label">
            <label for="">Mes Facturación</label>
          </div>

          <div class="div-text">
            <select class="txt-box-small">
              <option value="">ENERO</option>
              <option value="">FEBRERO</option>
              <option value="">MARZO</option>
              <option value="">ABRIL</option>
              <option value="">MAYO</option>
              <option value="">JUNIO</option>
              <option value="">JULIO</option>
              <option value="">AGOSTO</option>
              <option value="">SEPTIEMBRE</option>
              <option value="">OCTUBRE</option>
              <option value="">NOVIEMBRE</option>
              <option value="">DICIEMBRE</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <div class="div-label">
            <label for="">No. Empleado</label>
          </div>

          <div class="div-text">
            <input type="text" class="txt-box-small">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <div class="div-label">
            <label for="">Cliente</label>
          </div>

          <div class="div-text">
            <select class="txt-box-small">
              <option value="">Razón 1</option>
              <option value="">Razón 2</option>
              <option value="">Razón 3</option>
            </select>
          </div>
        </div>

        <div class="col-1">
          <div class="div-label">
            <label for="">Cuenta</label>
          </div>
  
          <div class="div-text">
            <select class="txt-box-small">
              <option value="">Subcuenta 1</option>
              <option value="">Subcuenta 2</option>
              <option value="">Subcuenta 3</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <a href="#" class="btn">Buscar</a>
        </div>
      </div>

      <div class="row">
        <table style="overflow: scroll;">
          <thead>
            <tr>
              <th>ESTATUS</th>
              <th>HORAS ESTIMADAS</th>
              <th>HORAS REALES</th>
              <th>PRESUPUESTADO</th>
              <th>REAL</th>
              <th>DIFERENCIA</th>
              <th>COSTO DE VENTAS</th>
              <th>UTILIDAD BRUTA</th>
              <th>PORCENTAJE</th>
              <th>COSTO DE VENTAS</th>
              <th>UTILIDAD BRUTA</th>
              <th>PORCENTAJE</th>
            </tr>
          </thead>
      
          <tbody>
            <tr>
              <td>Cobrada</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
      
            <tr style="background: lightgray;">
              <td>Ingresada al Flujo</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
      
            <tr>
              <td>Ingresada a Confirming</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        
            <tr style="background: lightgray;">
              <td>En Espera de Aceptación</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td>Totales</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
      
          </tbody>
        </table>
      </div>

    </div>
    <!--End My Component-->
  </template>

  <script>
    /**
     * `revenue-component`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class RevenueComponent extends Polymer.Element {
      static get is() { return 'revenue-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'revenue-component'
          }
        };
      }
    }

    window.customElements.define(RevenueComponent.is, RevenueComponent);
  </script>
</dom-module>
